# Initially hide these files and directories
INSTALL_1
P.l
Pexec/
Pmanual.txt
Pmanual_1993.pdf
Pmanual_1993.ps
TAR
aux/
com_test
data/
do
info/
install.log
p-source/
peps_5/
peps_5_June_2018_tvz/
prg_other/
putil/
tmp/
uscr/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
